* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  background: #111b21;
  color: #e9edef;
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  font-family: inherit;
}
